
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #4cafaf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #379aa8;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}